<footer>
    <address class="footer_wrap">
        <div class="information">
            <div class="myname">
                Beomseok Kim
            </div>
            <a href="mailto:ejsxkrpt@gmail.com" class="email">
                ejsxkrpt@gmail.com
            </a>
            <div class="accounts">

            </div>
        </div>
        <div class="copyright">
            <span>
                © Jihye Leee. <time datetime="2020-05-21 08:55:33 +0000">2020</time>
            </span>
        </div>
    </address>
</footer>
